@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Le corp*/

body{

    font-family: 'Raleway', sans-serif;
    margin: 0px;

}

#bloc_page{

    margin: 0px 50px;

}

h1{

    font-size: 23px;

}

h2{

    font-size: 17px;
    margin: 0px;

}





/*HEADER*/

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 7px;

}

header nav{

    display: flex;
    align-items: center;

}

header ul{

    display: flex;

}

header li{

    list-style-type: none;

}

header a{

    text-decoration: none;
    padding: 47px 27px;
    font-size: 15px;

}

header .navigation{

    color: black;

}

header .navigation:hover{

    color: rgb(45, 128, 253);
    border-top: solid rgb(45, 128, 253) 2px;

}

header .inscription{

    font-weight: bold;
    color: rgb(45, 128, 253);

}




/*recherches*/

#recherches h1{

    margin: 0px

}

form{

    height: 45px;
    display: flex;
    align-items: center;

}

form i{

    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;

}

form #barre_recherche{

    height: 100%;
    width: 220px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    border: rgb(0, 0, 0, 0.1) solid 1px;

}

form #bouton_recherche{

    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: rgb(0, 101, 252);
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0 15px 15px 0;

}




/*Filtres*/

#filtres{

    display: flex;
    align-items: center;
    margin-top: 25px;

}

#filtres > p{

    margin-right: 20px;
    font-weight: bold;

}

#filtres div{

    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    border: solid 2px rgb(0, 0, 0, 0.1);
    border-radius: 45px;

}

#filtres div:hover{

    border: solid black;

}

#filtres i{

    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 45px;
    margin: -4px;

}

#filtres i:hover{

    color: yellow;
    background-color: black;

}

#filtres div p{

    padding: 12px 17px 12px 12px;
    margin: 0px;
    font-weight: bold;

}



/*Phrase d'accroche*/

#recherches > p:last-child{

    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 0px;

}

#recherches > p:last-child i{

    color: #0065FC;
    border: rgb(0, 0, 0, 0.1) solid 1px;
    border-radius: 45px;
    padding: 5px 9px;
    margin-right: 5px;
    font-size: 12px;

}



/*Hebergements*/

#hebergements{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}




/*Choix hébergements*/

#choix_hebergements{

    background-color: #F2F2F2;
    padding: 40px;
    margin-right: 40px;
    margin-top: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#choix_hebergements h1{

    margin: 0px;

}

#choix_hebergements > div{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 875px;

}

#choix_hebergements .lien_image{

    text-decoration: none;
    color: black;

}

#choix_hebergements .selection_hebergement{

    background-color: white;
    margin-top: 30px;
    width: 260px;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;

}

#choix_hebergements div div p:first-child{

    height: 120px;
    margin: 0px;

}

#choix_hebergements img{

    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}

#choix_hebergements .text_image {

    padding: 6px 8px;

}

#choix_hebergements .text_image p{

    font-size: 15px;
    margin: 5px 0px;

}

#choix_hebergements .text_image p span{

    font-weight: bold;

}

#choix_hebergements .text_image > span{

    font-size: 13px;
    color: #0065FC;

}

#choix_hebergements .text_image > span .gray_star{

    color: #F2F2F2;

}

#choix_hebergements .plus_hebergement{

    margin-top: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 17px;

}




/*populaires*/

#populaires{

    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 30px;

}

#populaires > div:first-child{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#populaires h1{

    margin: 0px;

}

#populaires > div:first-child i{

    font-size: 25px;

}

#populaires .lien_image{

    text-decoration: none;
    color: black;

}

#populaires .selection_populaire{

    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin-top: 30px;
    display: flex;

}

#populaires .selection_populaire p:first-child{

    height: 135px;
    width: 120px;
    margin: 0px;

}

#populaires img{

    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;

}

#populaires .text_image{

    width: 180px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#populaires .text_image p{

    font-size: 15px;
    margin: 5px 0px;

}

#populaires .text_image p span{

    font-weight: bold;

}

#populaires .text_image > span{

    font-size: 13px;
    color: #0065FC;

}

#populaires .text_image > span .gray_star{

    color: #F2F2F2;

}




/*Activités*/

#activités{

    margin-top: 70px;
    min-width: 1425px;

}

#activités div{

    display: flex;
    justify-content: space-between;

}

#activités div div{

    flex-direction: column;
    border-radius: 25px;

}

#activités .lien_image{

    text-decoration: none;
    color: black;

}

#activités .activités_images{

    background-color: gray;

}

#activités p{

    width: 325px;
    margin: 0px;

}

#activités h2{

    margin: 20px;

}

#activités .grande_image{
    
    height: 480px;

}

#activités .moyenne_image{
    
    height: 245px;

}

#activités .petite_image{
    
    height: 135px;

}

#activités img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;

}




/*footer*/

footer{

    background-color: #F2F2F2;
    padding: 30px 50px;
    margin-top: 50px;
    display: flex;

}

footer div{

    margin-right: 20%;

}